# Distribution / packaging
build/
build_soc/
data/
images/

*.zip
*.tar
*.tar.gz

# Model file
*.mlir
*.onnx
*.pt
*.pth
*.prototxt
*.profile
*.bmodel.json
*.bmodel

# VSCode settings
.vscode

# OSX dir files
.DS_Store
__MACOSX/

# web tools
node_modules/